@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
 }

h1 {
    font-size: 48px;
    line-height: 1.25;
    margin-bottom: 32px;
}

h2 {
    font-size: 36px;
    font-weight: bold;
    color: #243E63
}

h3 {
    font-size: 24px;
}
h4 {
    font-size: 20px;
    color: #6415ff;
}

h5 {
    font-size: 20px;
    color: #243E63;
}

p {
    font-size: 16px;
    font-weight: 400;
    color: #7c8ba1;
    margin-bottom: 32px;
}

nav {
    padding: 32px;
}

ul {
    display: flex;
}

li {
    font-size: 14px;
    font-weight: 700;
    list-style: none;
    padding: 20px;
}

.purple {
    color: #6415ff;
}

.break-here::after {
    content: "\A";
    white-space: pre;
}

.btn {
    font-size: 16px;
    font-weight: bold;
    color: white;
    border-color: #6415ff;
    border-radius: 16px;
    background-color: #6415ff;
    padding: 12px 24px;
}

.img {
    max-width: 512px;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.nav__logo {
    width: 40px;
    display: flex;
    position: relative;
}

.nav__logo--title {
    font-weight: bold;
    font-size: 24px;
    color: #243E63;
    display: flex;
    position: absolute;
    margin-left: 40px;
    padding: 4px;
}

.nav__link,
.nav__link--primary {
    margin-left: 16px;
    text-decoration: none;
    font-size: 14px;
    color: #243E63;
    font-weight: bold;
    padding: 8px;
}

.nav__link--primary {
    background-color: #6415ff;
    color: white;
    text-align: center;
    border-radius: 16px;
    padding: 12px 24px;
}

header {
    padding: 32px;
}

.row {
   width: 100%;
   max-width: 1200px;
   margin: 0 auto;
   display: flex;
}

.header__container {
    display: flex;
    justify-content: center;
}

.header__description,
.customer__logo--mask {
    display: flex;
    flex-direction: column;
}

.header__description--wrapper {
    width: 40%;
    margin: 12px 24px;
}

.email__input {
    position: relative;
    margin-bottom: 64px;
}

.email__input--field {
    width: 100%;
    border-radius: 16px;
    border-color: rgb(229, 231, 235);
    font-size: 16px;
    text-align: center;
    padding: 16px 24px;
}

.email__input--btn {
    position: absolute;
    top: 4px;
    right: 4px;
    z-index: 2;
}
.customer__logo {
    max-width: 512px;
    object-fit: cover;
    padding-left: 12px;
}

.header__img--mask {
    display: flex;
    width: 60%;
    padding: 12px 24px;
}

/*

FEATURES

*/

.section__container {
    padding: 80px 0;
}

.section__tag--wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
}

.section__tag,
.section__para {
    padding: 12px 24px;
}

.section__para {
    color: #243E63;
}

.services {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}

.service {
    display: flex;
    width: calc(100%/3);
    padding: 12px 24px;
}

.service__img--wrapper {
    padding: 12px 24px;
}
.service__description {
    display: flex;
    flex-direction: column;
}

.service__title {
    font-size: 24px;
    margin-bottom: 16px;
}

/*

QUALITY

*/
.quality__description--wrapper {
    width: 50%;
    padding: 12px 24px;
}

.quality__btn  {
    margin: 12px 24px;
}
.quality__img--mask {
    width: 50%;
    padding: 12px 24px;
}

/*

STEPS

*/

.steps__img--mask {
    width: 50%;
    padding: 12px 24px;
}

.steps__description--wrapper {
    width: 50%;
    padding: 12px 24px;
}

.steps {
    padding: 12px 24px;
}
.step__number {
    font-size:24px;
    font-weight: bold;
    color: #cbd5e0;
    display: flex;
}

.step__description {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-left: 12px;
    margin-top: 3px;
}

/*

VALUES

*/

.value {
    display: flex;
    flex-direction: column;
    width: calc(100%/2);

}
.values__description--wrapper {
    width: 50%;
    padding: 12px 24px;
}

.values__list {
    padding: 12px 24px;
    gap: 24px;
}

.values__btn {
    margin: 12px 24px;
}

/*

PRICING

*/

.plans {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.plan {
    width: calc(100%/3);
    margin-top: 64px; 
    margin-right: 32px;
    display: flex;
    flex-direction: column;
    border: 5px #ccc;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

.plan__top {
    padding: 32px;
}

.plan__price,
.plan__length {
    font-weight: 500;
    margin: 16px 0;
}

.plan__middle {
    padding: 32px;
}

.plan__features {
    display: flex;
    flex-direction: column;
}

.plan__feature {
    color: rgb(113, 128, 150);
}

#business-plan .plan__length,
#business-plan .plan__feature {
    color: white;
}
#pricing .row{
    flex-direction: column;
    align-items: center;
}

.plan__stripe {
    height: 10px;
    color:  rgb(76, 81, 191);
    border-radius: 15px;
}

#personal-plan {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}
#business-plan {
    background:  linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    color: white;
}

#enterprise-plan {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.plan__purchase {
    border: none;
}