@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
 }

h1 {
    font-size: 36px;
    line-height: 1.25;
    margin-bottom: 32px;
}

h2 {
    font-size: 16px;
    font-weight: 350;
    margin-bottom: 32px;
}

nav {
    padding: 32px;
}

ul {
    display: flex;
}

li {
    font-size: 14px;
    list-style: none;
    padding: 20px;
}

.purple {
    color: #6415ff;
}

.break-here::after {
    content: "\A";
    white-space: pre;
}
.nav__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.nav__logo {
    width: 40px;
    display: flex;
    position: relative;
}

.nav__logo--title {
    font-weight: bold;
    font-size: 24px;
    color: #243E63;
    display: flex;
    position: absolute;
    margin-left: 40px;
    padding: 4px;
}

.nav__link,
.nav__link--primary {
    margin-left: 16px;
    text-decoration: none;
    font-size: 14px;
    color: #243E63;
    font-weight: bold;
    padding: 8px;
}

.nav__link--primary {
    background-color: #6415ff;
    color: white;
    border-radius: 16px;
    padding: 12px 24px;
}

header {
    padding: 32px;
}

.row {
   width: 100%;
   max-width: 1200px;
   margin: 0 auto;
   display: flex;
   align-items: flex-start;
}

.header__container {
    display: flex;
    justify-content: center;
}

.header__description,
.customer__logo--mask {
    display: flex;
    flex-direction: column;
}

.email__input {
    margin-bottom: 64px;
}

.customer__logo {
    max-width: 512px;
    object-fit: cover;
}

.header__img--mask {
    display: flex;
    width: 60%;
}

.header__img {
    max-width: 512px;
}